.bg-primary-color {
    background-color: #05053F;
}

.bg-secondary-color {
    background-color: #E6E6E6;
}

.primary-color {
    color: #09CCCC;
}

.secondary-color {
    color: #E6E6E6;
}

.card-primary-color {
    color: #5C09AD;
    background-color: #e6e6e6;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 27px;
}

.card-secondary-color {
    color: #05053F;
    background-color: #e6e6e6;
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
    background-color: #0000;
    font-family: 'Cairo', sans-serif;
}

body {
    width: 100%;
    height: 100%;
    background-color: #060629;
}

textarea {
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    color: white;
    height: 30px;
    width: 50%;
    margin-left: 30%;
    border: none;
    outline: none;
    resize: none;
}

button {
    font-family: 'Cairo', sans-serif;
    font-weight: bolder;
    color: white;
    height: 30px;
    width: 100px;
    margin-top: 1.5%;
    margin-bottom: 1%;
    margin-left: 3%;
    background-color: purple;
}

button:hover {
    background-color: #09CCCC;
    color: #05053F;
}

.botao {
    padding-top: 5%;
    background-color: transparent;
    border: transparent;
    text-align: center;
    font-size: 40px;
    margin: auto;
    display: block;
    transition: 1ms;
}

.botao:hover {
    background-color: transparent;
    cursor: pointer;
    color: #E6E6E6;
    transform: scale(1.07);

}

/*barra de navegacao*/
.navbar {
    width: 100%;
    border-bottom: 5px solid #09CCCC;
    position: fixed;
    background-color: #060629;
}

.caixa_da_barra_de_navegacao {
    width: 100%;
    display: inline-flex;
    justify-content: flex-end;
}

.caixa_de_logo_raitec {
    height: 100%;
    width: 50%;
    display: flex;
}

.imagem_logo_raitec {
    width: 200px;
    display: flex;
    cursor: pointer;
}
.imagem_logo_raitec:hover {
    transform: scale(1.01); 
}


.caixa_de_perfil_membro {
    margin-right: 5%;
    display: flex;
    gap: 5%;
}

.imagem_de_perfil {
    width: 70px;
    height: 70px;
    border-style: solid;
    border-color: transparent;
    border-radius: 100%;
    cursor: pointer;
    object-fit: cover;
 
}

.imagem_de_perfil:hover {
    border-color: #09CCCC;
    transform: scale(1.1); 
}

/* ícone Midias */
.Icones-midias {
    width: 65px;
    display: flex;
    cursor: pointer;
    object-fit: cover;
}
.Icones-midias:hover {
transform: scale(1.1); 
}

/* Informações do Usuário */
.info-usuario {
    color: #e6e6e6;
}

.Eixo-Title{
    color: #09CCCC;
    margin-right:30%;
    font-size: 45px;
    }


